/* 
    TODO:
    descobrir por que o titulo está sem fonte de titulo
*/

/* ------------------ GERAL ------------------ */

/* Overlay (fundo escuro) */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
    z-index: 998; /* Abaixo do modal */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

/* Quando o modal está aberto, o overlay fica visível */
body.modal-open .modal-overlay {
    opacity: 1;
    pointer-events: auto;
}

.contact-container {
    background-color: var(--branco);
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    max-width: 1200px;
    width: min(50%, 50vw);
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 999; /* Garantir que o modal fique acima do overlay */
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.contact h3 {
    font-family: var(--titulo);
    font-size: var(--tamanho-titulo-medio);
    margin-top: 10px;
}

.contact h3::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 11px;
    height: 16px;
    background-color: var(--laranja);
    border-radius: 50%;
}

.contact label {
    font-family: var(--texto);
    font-size: var(--tamanho-texto-pequeno);
}

.contact form {
    /* border: 1px solid red; */
    width: 70%;
    margin-top: 5%;
}

.contact form>div>div {
    display: flex;
    flex-direction: column;
}


/* ------------------ MÉTODO DE CONTATO ------------------ */

.contact #contact-method {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.contact #contact-method #radio-container {
    margin-top: 10px;
    width: 150px;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    position: relative;
}

.contact #contact-method #radio-container .slider {
    position: absolute;
    width: 50%;
    height: 102%;
    background-color: #1b0e2f;
    transition: transform 0.3s ease, border-radius 0.3s ease;
    z-index: 1;
}

.contact #contact-method #radio-container .slider {
    transform: translateX(-1.2%);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.contact #contact-method #radio-container .slider.right {
    transform: translateX(100.4%);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.contact #contact-method #radio-container .option {
    position: relative;
    flex: 1;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}

.contact #contact-method #radio-container .option input {
    display: none;
}

.option .text {
    color: black;
    transition: color 0.3s;
}

.option input:checked+.text {
    color: orange;
}

.contact #contact-method #radio-container .option .email-icon-container {
    display: flex;
    justify-content: center;
}

.contact #contact-method #radio-container .option .whatsapp-icon-container {
    display: flex;
    justify-content: center;
}

.contact #contact-method #radio-container .option .email-icon-container img {
    display: none;
}

.contact #contact-method #radio-container .option .email-icon-container img.active {
    display: inline;
}

.contact #contact-method #radio-container .option .whatsapp-icon-container img {
    display: none;
}

.contact #contact-method #radio-container .option .whatsapp-icon-container img.active {
    display: inline;
}


/* ------------------ INPUTS ------------------ */

.contact-container .contact :is(input, select, textarea) {
    outline: none;
    resize: none;
    margin-top: 5px;
    margin-bottom: 25px;
    border: 1px solid #CED4DA;
    border-radius: 3px;
    padding: 8px;
}

select, option {
    font-family: var(--texto);
    font-size: var(--tamanho-texto-pequeno);
}

.contact-container .contact #budget-container.hidden {
    display: none;
}

.contact-container .contact textarea {
    min-height: 100px;
}

.contact-container .contact .button-container {
    display: flex;
    align-items: end;
}

.contact-container .contact .button-container button {
    cursor: pointer;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    background-color: var(--laranja);
    padding: 5px 20px;
    font-family: var(--titulo);
    font-weight: var(--peso-destaque);
    font-size: var(--tamanho-texto-pequeno);
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-bottom: 30px;
}