/* 
    TODO:
    descobrir por que o titulo está sem fonte de titulo
*/

/* ------------------ GERAL ------------------ */

/* Overlay (fundo escuro) */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo escuro */
    z-index: 998;
    /* Abaixo do modal */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

/* Quando o modal está aberto, o overlay fica visível */
body.modal-open .modal-overlay {
    opacity: 1;
    pointer-events: auto;
}

.contact-container {
    background-color: var(--branco);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 1200px;
    width: min(50%, 50vw);
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 999;
    max-height: 95vh;
    /* Garantir que o modal fique acima do overlay */
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.contact h3 {
    font-size: clamp(1rem, var(--tamanho-titulo-medio), 40px);
    margin-top: 10px;
}

.contact h3::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 11px;
    height: 16px;
    background-color: var(--laranja);
    border-radius: 50%;
}

.contact label {
    font-size: clamp(0.6rem, var(--tamanho-texto-pequeno), 20px);
}

.contact form {
    width: 70%;
    margin-top: 5%;
}

.contact form>div>div {
    display: flex;
    flex-direction: column;
}


/* ------------------ MÉTODO DE CONTATO ------------------ */

.contact #contact-method {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.contact #contact-method #radio-container {
    margin-top: 10px;
    width: clamp(130px, 10.1vw, 230px);
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    position: relative;
}

.contact #contact-method #radio-container .slider {
    position: absolute;
    width: 50%;
    height: 102%;
    background-color: #1b0e2f;
    transition: transform 0.3s ease, border-radius 0.3s ease;
    z-index: 1;
}

.contact #contact-method #radio-container .slider {
    transform: translateX(-1.2%);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.contact #contact-method #radio-container .slider.right {
    transform: translateX(100.4%);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.contact #contact-method #radio-container .option {
    position: relative;
    flex: 1;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}

.contact #contact-method #radio-container .option input {
    display: none;
}

.option .text {
    color: black;
    transition: color 0.3s;
}

.option input:checked+.text {
    color: orange;
}

.contact #contact-method #radio-container .option .email-icon-container {
    display: flex;
    justify-content: center;
}

.contact #contact-method #radio-container .option .whatsapp-icon-container {
    display: flex;
    justify-content: center;
}

.contact #contact-method #radio-container .option .email-icon-container img {
    display: none;
}

.contact #contact-method #radio-container .option .email-icon-container img.active {
    display: inline;
}

.contact #contact-method #radio-container .option .whatsapp-icon-container img {
    display: none;
}

.contact #contact-method #radio-container .option .whatsapp-icon-container img.active {
    display: inline;
}


/* ------------------ INPUTS ------------------ */

.contact-container .contact :is(input, select, textarea) {
    outline: none;
    resize: none;
    margin-top: 5px;
    margin-bottom: 25px;
    border: 1px solid #CED4DA;
    border-radius: 3px;
}

.contact-container .contact :is(input, textarea) {
    padding: 8px;
}

select,
option {
    font-size: clamp(0.6rem, var(--tamanho-texto-pequeno), 20px);
    padding: 8px;
}

.contact-container .contact #budget-container.hidden {
    display: none;
}

.contact-container .contact textarea {
    min-height: 100px;
}

.contact-container .contact .button-container {
    display: flex;
    align-items: end;
}

.contact-container .contact .button-container button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: var(--laranja);
    padding: 10px 20px;
    font-weight: var(--peso-titulo);
    font-size: clamp(0.5rem, var(--tamanho-texto-pequeno), 15px);
    letter-spacing: 0.8px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #1a1a1a;
    text-transform: uppercase;
    font-family: var(--texto);
}

.contact-container .contact .button-container button:hover {
    background-color: #e59d1f;
}

@media (max-width: 750px) {
    .contact-container {
        width: min(99%, 99vw);
    }

    .contact h3::after {
        width: 9px;
        height: 13px;
    }

    .contact-container .contact :is(input, textarea) {
        padding: 3px;
    }

    .contact-container .contact :is(input, select, textarea) {
        margin-bottom: 20px;
    }

    select {
        padding: 5px;
    }

    .contact-container .contact textarea {
        /* min-height: 50px; */
    }

    .contact-container .contact .button-container button {
        padding: 8px 15px;
        letter-spacing: 0.6px;
    }
}

@media (min-width: 751px) and (max-width: 1024px) {
    .contact-container {
        width: min(70%, 70vw);
    }

    .contact h3::after {
        width: 11px;
        height: 15px;
    }

    .contact-container .contact :is(input, textarea) {
        margin-bottom: 20px;
        padding: 3px;
    }

    select {
        padding: 5px;
    }
}