/* --------------------------- SETA  --------------------------------*/

.arrow-container {
    /* display: flex; */
    display: none;
    justify-content: end;
    position: absolute;
    top: 5%;
    left: 26.5%;
    width: 5%;
}

.arrow-dot {
    width: 15px;
    height: 15px;
    background-color: #1a001a;
    border-radius: 50%;
    margin-right: 8px;
    position: absolute;
    bottom: 3%;
}

.seta {
    position: relative;
    width: 100%;
    height: 10px;
}

.corpo {
    display: flex;
    justify-content: end;
    background: black;
    height: 33%;
    width: 189%;
    border-radius: 5px;
    position: relative;
}

/* Pontas */

.ponta-container {
    display: flex;
    justify-content: end;
    /* border: 1px solid red; */
    width: 40px;
    height: 40px;
    /* position: absolute; */
    top: -602%;
    left: 89.6%;
}

.ponta {
    position: absolute;
    width: 20px;
    height: 4px;
    background: black;
    /* top: 20%; */
    transform-origin: left center;
    border-radius: 2px;
}

/* Ponta com arredondamento visual fake usando bolinha extra */
.ponta::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 4px;
    height: 0px;
    background: black;
    border-radius: 49%;
    transform: translateY(-50%);
}

.ponta-esquerda {
    top: 50%;
    left: 100%;
    transform: rotate(140deg);
}

.ponta-direita {
    top: 50%;
    left: 100%;
    transform: rotate(-138deg);
}

/* --------------------------- GERAL  --------------------------------*/

.services h1 {
    font-family: var(--titulo);
    font-size: clamp(1.8rem, var(--tamanho-titulo-grande), 90px);
    font-weight: var(--peso-texto);
    margin-bottom: 35px;
}

.services h1 span {
    display: block;
}

.services {
    width: 200%;
    display: flex;
    position: relative;
}

.service-first-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh !important;
    /* background-color: tomato; */
}

#project {
    width: clamp(20%, 35vw, 1000px);
}

#first-checklist {
    height: fit-content;
}

.services button {
    background-color: var(--roxo-escuro);
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: clamp(1rem, var(--tamanho-texto-pequeno), 30px);
    font-weight: var(--peso-titulo);
    margin-top: 10px;
}

.check-icon-container {
    width: 4%;
    margin-right: 10px;
}

.services li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: clamp(1.2rem, var(--tamanho-texto-pequeno), 30px)
}

.service-second-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh !important;
}

#second-checklist {
    height: fit-content;
    margin-top: -3.4%;
}

#rocket {
    width: clamp(20%, 34vw, 870px);
    margin-left: -15vw;
}

/* --------------------------------------------------------------------------------------- */

/* Telas muito grandes */
@media (min-width: 1700px) {
    .services h1 {
        font-size: clamp(2px, 4.5vw, 90px);
        margin-bottom: 35px;
    }

    .services li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: clamp(2px, 2vw, 30px)
    }


    .services ul {
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 0;
        margin: 0;
    }

    .services ul li {
        display: flex;
        align-items: center;
        gap: 8px;
        width: fit-content;
        /* importante! */
    }

    .check-icon-container {
        width: clamp(2px, 1.9vw, 50px);
        flex-shrink: 0;
    }

    #second-checklist {
        height: fit-content;
        margin-top: -4.4%;
    }

    .services button {
        padding: 20px 25px;
        font-size: clamp(1px, 1.5vw, 30px);
    }

    #rocket {
        width: clamp(20%, 45vw, 870px);
        margin-left: 0;
    }
    
    #project {
        width: clamp(20%, 50vw, 1000px) !important;
    }
}

/* Intermediárias (laptops/tablets grandes) */
@media (max-width: 1200px) and (min-width: 899px) and (max-height: 1100px) and (min-height: 296px) {
    .services h1 {
        font-size: clamp(2px, 5vw, 90px);
        margin-bottom: 35px;
    }

    .services li {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        font-size: clamp(2px, 2vw, 30px)
    }


    .services ul {
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 0;
        margin: 0;
    }

    .services ul li {
        display: flex;
        align-items: center;
        gap: 8px;
        width: fit-content;
        /* importante! */
    }

    .check-icon-container {
        width: clamp(2px, 2vw, 50px);
        flex-shrink: 0;
    }

    #second-checklist {
        height: fit-content;
        margin-top: -4.4%;
    }

    .services button {
        padding: 15px 20px;
        font-size: clamp(1px, 1.5vw, 30px);
    }

    #rocket {
        width: clamp(20%, 45vw, 870px);
        margin-left: 0;
    }

    #project {
        width: clamp(20%, 50vw, 1000px) !important;
    }
}

/* Tablets e celulares em pé */
@media (max-width: 898px) and (max-height: 1100px) and (min-height: 296px) {
    .service-first-container {
        flex-direction: column;
        justify-content: start;
    }

    .service-second-container {
        display: flex;
        flex-direction: column-reverse;
        /* justify-content: start; */
    }

    #project {
        width: clamp(20%, 55vw, 1000px) !important;
    }

    .services h1 {
        font-size: clamp(2px, 5vw, 90px);
        margin-bottom: 35px;
    }

    .services li {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        font-size: clamp(2px, 3vw, 30px)
    }

    .services ul {
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 0;
        margin: 0;
    }

    .services ul li {
        display: flex;
        align-items: center;
        gap: 8px;
        width: fit-content;
        /* importante! */
    }

    .check-icon-container {
        width: clamp(2px, 2.5vw, 50px);
        flex-shrink: 0;
    }

    #second-checklist {
        height: fit-content;
        margin-top: -0.4%;
    }

    .services button {
        padding: 15px 20px;
        font-size: clamp(1px, 2vw, 30px);
    }

    #rocket {
        width: clamp(20%, 55vw, 870px);
        margin-left: 0;
    }
}



/* Celulares específicos */
@media (max-width: 850px) and (max-height: 315px) {
    .services h1 {
        font-size: clamp(2px, 3vw, 90px);
        margin-bottom: 35px;
    }

    .services li {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        font-size: clamp(2px, 1.5vw, 30px)
    }


    .services ul {
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 0;
        margin: 0;
    }

    .services ul li {
        display: flex;
        align-items: center;
        gap: 8px;
        width: fit-content;
        /* importante! */
    }

    .check-icon-container {
        width: clamp(2px, 2vw, 50px);
        flex-shrink: 0;
    }

    #second-checklist {
        height: fit-content;
        margin-top: -6.4%;
    }

    .services button {
        padding: 10px 15px;
        font-size: clamp(1px, 1.3vw, 30px);
    }

    #rocket {
        width: clamp(20%, 31vw, 870px);
        margin-left: 0;
    }
}

@media (max-width: 750px) and (max-height: 849px) and (min-height: 696px) {
    #project {
        width: clamp(20%, 45vw, 1000px);
    }

    #rocket {
        width: clamp(20%, 38vw, 870px);
        margin-left: 0;
    }

    .service-first-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .service-second-container {
        display: flex;
        flex-direction: column-reverse;
    }

    #first-checklist {
        text-align: center;
    }

    #first-checklist>div {
        display: flex;
        justify-content: center;
    }

    .services ul {
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 0;
        margin: 0;
    }

    .services ul li {
        display: flex;
        align-items: center;
        gap: 8px;
        width: fit-content;
        /* importante! */
    }

    .check-icon-container {
        width: clamp(20px, 4vw, 100px);
        flex-shrink: 0;
    }

    #second-checklist {
        height: fit-content;
        margin-top: -57.4%;
    }
}

/* Celular em paisagem (landscape) */
@media (orientation: landscape) and (max-width: 932px) and (min-width: 820px) and (max-height: 430px) and (min-height: 375px) {
    .services ul {
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 0;
        margin: 0;
    }

    .services ul li {
        display: flex;
        align-items: center;
        gap: 8px;
        width: fit-content;
        /* importante! */
    }

    .check-icon-container {
        width: clamp(20px, 3vw, 100px);
        flex-shrink: 0;
    }

    #second-checklist {
        height: fit-content;
        margin-top: -6.4%;
    }

}