/* --------------------------- SETA  --------------------------------*/

.arrow-container {
    display: flex;
    justify-content: end;
    /* position: absolute; */
}

.arrow-dot {
    width: 12px;
    height: 12px;
    background-color: #1a001a;
    border-radius: 50%;
    margin-right: 8px;
    position: absolute;
    bottom: 10%;
}

.seta {
    position: relative;
    width: 200px;
    height: 10px;
    right: 30%;
}

.corpo {
    display: flex;
    justify-content: end;
    background: black;
    height: 50%;
    width: 189%;
    border-radius: 5px;
    position: relative;
}

/* Pontas */

.ponta-container {
    display: flex;
    justify-content: end;
    /* border: 1px solid red; */
    width: 40px;
    height: 40px;
    /* position: absolute; */
    top: -385%;
    left: 79.6%;
}

.ponta {
    position: absolute;
    width: 20px;
    height: 4px;
    background: black;
    /* top: 20%; */
    transform-origin: left center;
    border-radius: 2px;
}

/* Ponta com arredondamento visual fake usando bolinha extra */
.ponta::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 4px;
    height: 0px;
    background: black;
    border-radius: 49%;
    transform: translateY(-50%);
}

.ponta-esquerda {
    top: 50%;
    left: 100%;
    transform: rotate(140deg);
}

.ponta-direita {
    top: 50%;
    left: 100%;
    transform: rotate(-138deg);
}

/* --------------------------- GERAL  --------------------------------*/

.services {
    width: 200%;
    display: flex;
}

.services-scroll {
    display: flex;
    align-items: start;
    margin-top: 50px;
}

#project {
    width: 200px;
}

#rocket {
    width: 200px;
    margin-left: 100px;
}

h1 {
    font-family: var(--titulo);
    font-size: var(--tamanho-titulo-grande);
    font-weight: var(--peso-texto);
}

h1 span {
    display: block;
}

#first-checklist {
    margin-left: 10%;
    /* margin-right: 50%; */
}

#second-checklist {
    padding-left: 10%;
    /* margin-right: 50%; */
}

.service-first-container {
    width: 50%;
    height: 100vh !important;
    background-color: tomato;
    height: 100px;
}

.service-second-container {
    width: 50%;
    height: 100vh !important;
  background-color: cyan;
}
