@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    /* Cores principais */
    --roxo: #9B30FF;
    --amarelo: #FFD700;
    --roxo-escuro: #17041F;
    --roxo-claro: #CB5EEE;
    --laranja: #F9AF2B;
    --branco: #F8F8F8;

    /* Fontes */
    --titulo: "Poppins", serif;
    --texto: "Roboto", serif;

    /* Tamanhos de fonte */
    --tamanho-titulo-grande: 3rem;
    --tamanho-titulo-medio: 2rem;
    --tamanho-texto: 1rem;
    --tamanho-texto-pequeno: 0.875rem;

    /* Pesos de fonte */
    --peso-titulo: 700; /* Bold */
    --peso-texto: 400; /* Regular */
    --peso-destaque: 500; /* Medium */
}